html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      main {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      details :not(:is(summary)) {
        margin-left: 1em;
      }
  body
    main
      block body
