extends _layout

block body
  div(id='holder')

  div(style='display: flex; justify-content: flex-end;')
    button(onclick='reload()') 次

  script.
    async function reload() {
      const holder = document.querySelector('#holder')
      holder.innerHTML = ''
      const resp = await window.fetch('./list.html')
      const text = await resp.text()
      const doc = new DOMParser().parseFromString(text, 'text/html')
      const qs = doc.querySelectorAll('details')
      const q = qs[Math.floor(Math.random() * qs.length)]
      holder.append(q)
    }
    reload()
