extends _layout

block head
  style.
    .panel {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-template-rows: 1.5em;
      gap: .5em;
    }

    #progress {
      position: relative;
      height: 100%;
      border: 1px solid #CCC;
      border-radius: 4px;
    }

    #progress .value {
      width: 0;
      height: 100%;
      background-color: #28a745;
    }

    #progress .ratio {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: .88em;
    }

block body
  div(id='holder')

  div(class='panel')
    button(id='prev', onclick='questions.prev()') 前

    div(id='progress')
      div(class='value')
      div(class='ratio')

    button(id='next', onclick='questions.next()') 次

  script.
    Array.prototype.shuffle = function () {
      for (let i = this.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1))
        // [this[i], this[j]] = [this[j], this[i]]
        const t = this[i]
        this[i] = this[j]
        this[j] = t
      }
    }

    const questions = {
      values: [],
      index: 0,
      holder: document.querySelector('#holder'),
      nextTrigger: document.querySelector('#next'),
      prevTrigger: document.querySelector('#prev'),
      progress: document.querySelector('#progress'),

      first() {
        this.index = 0
        this.render()
      },

      last() {
        this.index = Math.max(this.values.length - 1, 0)
        this.render()
      },

      render() {
        this.nextTrigger.disabled = this.index >= this.values.length - 1
        this.prevTrigger.disabled = this.index <= 0
        this.holder.innerHTML = ''
        this.holder.append(this.values[this.index])
        this.progress.querySelector('.value').style.width =
          (this.index + 1) / this.values.length * 100 + '%'
        this.progress.querySelector('.ratio').innerText =
          this.index + 1 + '/' + (this.values.length)
      },

      async load() {
        const resp = await window.fetch('./list.html')
        const text = await resp.text()
        const doc = new DOMParser().parseFromString(text, 'text/html')
        this.values = Array.from(doc.querySelectorAll('details'))
        this.values.shuffle()
        this.first()
      },

      next() {
        if (this.index >= this.values.length - 1)
          return
        this.index++
        this.render()
      },

      prev() {
        if (this.index <= 0)
          return
        this.index--
        this.render()
      }
    }

    questions.load()

    window.addEventListener('keydown', e => {
      if (e.key === 'ArrowLeft')
        if (e.ctrlKey)
          questions.first()
        else
          questions.prev()
      else if (e.key === 'ArrowRight')
        if (e.ctrlKey)
          questions.last()
        else
          questions.next()
    })
