extends _layout

block body
  details
    summary 左右の見通しの悪い交差点を通行するときは徐行する。
    p YES
    p P.84

  details
    summary 駐車禁止の場所で、人を待つため５分間運転席に座り車を停止させた。
    p NO
    p P.246

  details
    summary バスの停留所（運行時間中に限かぎる）の標示板から１０メートル以内の場所に車を止めると駐停車違反になる。
    p YES
    p P.248

  details
    summary 駐車禁止の標識のある場所で、人を待つため５分間運転席に座り車を停止させた。
    p NO
    p P.246

  details
    summary 運転者は、座席でないところに人を乗せたり、荷台や座席でないところに荷物を積つむことはできない。
    p YES
    p P.260

  details
    summary 前の車が原動機付自転車や軽車両を追い越そうとしているときは、その車を追い越こすことができる。
    p YES
    p 「自動車を車が追い越す」のが、二重追い越しの定義である。
    p P.119

  details
    summary 普通自動車対応免許を受けている人で、免許証に特定後写鏡（ワイドミラー）使用の条件をつけられている人が普通自動車を運転するときは、その車の前と後の定められた位置に身体障害者標識をつけなければらならない。
    p NO
    p つけなくてはならないのは「聴覚障害者標識」である。

  details
    summary こう配の急な上り坂や下り坂は、追い越し禁止場所である。
    p NO
    p 「こう配の急な上り坂」は追い越し可能。ダメなのは「上り坂の頂上付近」である。
    p P.120

  details
    summary 中型免許の受験資格は、２０歳以上で、準中型免許、普通免許、大型特殊免許のいずれかを受けていた期間が通算して２年以上である。
    p YES
    p P.132

  details
    summary ブレーキペダルを踏み込んで、フワフワして柔らかい感のときは、ブレーキ液の漏れ、空気の混入のおそれがある。
    p YES
    p P.238

  details
    summary 中型免許で大型特殊自動車を運転できる。
    p NO
    p 「大型特殊免許」が必要。
    p P.131

  details
    summary
      img(src='自動車専用.jpg', width=96)
      | 図の標識は、「高速自動車国道または自動車専用道路」であることを表している。
    p YES
    p P.36

  details
    summary 昼間でも、トンネルの中や濃い霧の中などで１００メートル（高速道路では２００メートル）先が見えないような場所を通行するときは、前照灯をつけなければならない。
    p NO
    p 一般道では１００メートルではなく５０メートル先が、高速道路では２００メートル先が、見えないような場合は昼間でも前照灯をつけなければなりません。

  details
    summary けん引するための装置と構造のある自動車で、けん引されるための装置と構造のある車両総重量７５０キログラム以下の車をけん引して運転するときは、けん引免許を受けていなければならない。
    p NO
    p 総重量が７５０キログラムを超える車をけん引するときは、けん引免許が必要です。この場合は必要ありません。
    p P.134

  details
    summary 大型自動二輪車と普通自動二輪車（総排気量２５０ｃｃ以下のものを除く）は、２年ごとに自動車の検査（車検）を受けなければならない。
    p NO
    p 初回に限り３年になる。

  details
    summary 事業用の大型自動二輪車と普通自動二輪車の定期点検は、３ヶ月ごとに行わなければならない。
    p NO
    p １２ヶ月（１年）ごとに行う

  details
    summary ＡＴ二輪車は、小回りが難しいので、安全確認を確実に行い、慎重に運転することが大切である。
    p YES
    p ホイールベース（前後輪の間隔）が長いため、ＭＴ二輪車に比べて小回がききにくいです。
    p P.189

  details
    summary
      img(src='方向.jpg', width=96)
      | 図の補助標識は、本標識が示す路線・施設・場所がある方向を示している。
    p NO
    p 「方向」補助標識です。
    p P.43

  details
    summary 軌道敷とは道路上において「？」が通行するのに必要な部分のことである。
    p 路面電車

  details
    summary 大型免許を受けていれば、車の総重量が７５０キログラムを超える車をけん引できる。
    p NO
    p 車の総重量が７５０ｋｇを超える車をけん引するときは、けん引免許が必要です。
    p P.134

  details
    summary バッテリーを点検するときは、液量が十分あるか、ターミナルの汚れやゆるみがないかも確認する。
    p YES
    p バッテリー液量やターミナル（バッテリー上部に付いてる蓋のような突起物）の汚れなども点検します。
    p P.231

  details
    summary 乗客の乗り降りのため停留所に停止している路面電車に追いついたとき、安全地帯がある場合は徐行して通行できる。
    p YES
    p 安全地帯がある場合には、乗り降りする人がいてもいなくても徐行して通行できます。また、安全地帯がなくても、乗り降りする人がいない場合で、路面電車との間に１．５メートル以上の間隔がとれるときも徐行して通行できます。
    p P.92

  details
    summary 道路どうろの左側ひだりがわ部分ぶぶんの幅はばが６メートル以上いじょうある道路どうろでは、道路どうろの右側みぎがわ部分ぶぶんにはみ出だして追おい越こしをすることはできない。
    p YES
    p ６メートル以上ある道路では、道路の右側部分にはみ出して追い越しすることはできません。
    p P.121

  details
    summary 路面ろめんが雨あめにぬれ、タイヤがすり減へっている場合ばあいの停止ていし距離きょりは、乾燥かんそうした路面ろめんでタイヤの状態じょうたいがよい場合ばあいに比くらべて、２倍ばい程度ていどにのびることがある。
    p YES
    p P.80

  details
    summary 大型免許の受験資格は、２１歳以上で、中型免許、準中型免許、普通免許か大型特殊免許のいずれかを受けていた期間が通算して３年以上である。
    p YES
    p 大型免許の受験資格は、２１歳以上で、中型免許、準中型免許、普通免許か大型特殊免許のいずれかを受けていた機関が通算して３年以上です。
    p P.132

  details
    summary 普通ふつう自動車じどうしゃ対応たいおう免許めんきょを受うけている７０歳以上さいいじょうの人ひとが普通ふつう自動車じどうしゃを運転うんてんするときは、その車くるまの前後ぜんごに高齢こうれい運転者うんてんしゃ標識ひょうしきをつけるようにする。
    p YES
    p ７０歳以上の人の高齢運転者標識の表示は、運転者の努力義務（任意）となります。
    p P.98

  details
    summary 
      img(src='停車可.jpg', width=96)
      | 図の標識は、バスの停留所であることを表している。
    p NO
    p 「停止可」の標識で、車は停車することができることを表しています。
    p P.250

  details
    summary 二輪車を押して歩いているときは、歩行者として扱われるが、エンジンがかかっているものや側車付のものは除のぞかれる。
    p YES
    p P.54

  details
    summary 家の新築工事のため、材木を道路上に積んでおいた。
    p NO
    p P.13

  details
    summary 行政上の責任とは、事故を起こした人が公安委員会から、「？」の「？」や「？」などの処分を受けることです。
    p 「運転免許」「取り消し」「停止」
    p P.225


  details
    summary 交通事故を起こすと、運転者はその内容により刑事上、民事上、行政上の責任を負うことになる。
    p YES
    p P.225

  details
    summary 規制標識とは、特定の交通方法を禁止したり、特定の方法に従って通行するよう指定したりするものである。
    p YES
    p P.34

  details
    summary 故障車の後輪をクレーンなどでつり上あげてけん引するときは、前輪が故障車の中心線に平行になるように、ハンドルを固定する。
    p YES
    p ここでいう前輪とハンドルとは、故障車のものであり、ハンドルの固定とは、例えばロープなどで縛り付けて固定し、前輪を真っ直ぐに保つようにする、ということである。
    p P.264

  details
    summary 大型自動二輪車や普通自動二輪車で二人乗りをする場合には、安定性に優れ、後部座席にゆとりのある車種を選ぶとよい。
    p YES
    p P.193

  details
    summary 一方通行の道路では、道路の左右どちら側に駐車してもよい。
    p NO
    p 常に左側端に沿う必要がある。
    p P.251

  details
    summary 標識は大きく２つの種類がある。なにとなにか。
    p 本標識と補助標識
    p 本標識は「きしけあ」の４種類に細分化できる

  details
    summary 表示はどんな種類があるか
    p 規制表示と指示表示
    p 本標識の「きしけあ」の「きし」に対応する

  details
    summary 霧のとき前照灯を上向きにすると霧に乱反射して、見えにくくなるので、前照灯は下向にして走行したほうがよい。
    p YES
    p P.206

  details
    summary 車は駐車した場合、車の右側の道路上に３．５メートル以上の余地がなくなる場所では、駐車することはできない。
    p YES
    p 「３．５メートル＝乗用車約２台分」と覚えておくこと
    p P.250

  details
    summary 片側が転落のおそれのある谷になっている狭い道で行き違うときは、山側を通る車があらかじめ安全な場所に停止して道をゆずる。
    p NO
    p 谷側（崖側）を通る車が道を譲る。
    p P.127

  details
    summary 走行中にエンジンがオーバーヒートしたときは、すぐにエンジンを止めて冷却水を補給するとよい。
    p NO
    p エンジンは止めず、低速回転させてエンジンを冷却させる。
    p P.210

  details
    summary 遠心力は、速度の２乗に比例して大きくなり、カーブの半径が小さいほど大きくなる。
    p YES
    p P.163

  details
    summary 夜間、対向車のライトがまぶしいときは、視点をやや右に移すとよい。
    p NO
    p 右に移すと、対向車のライトを直接目に受けてしまうことがあるので、左前方に移します。
    p P.199

  details
    summary 高速自動車国道で道路の構造上往復の方向別に分離されていない本線車道での最高速度は、一般道路と同じである。
    p YES
    p P.305

  details
    summary 車を運転中、大規模な地震が発生したとき、やむを得ず車を道路上に置いて避難するときは、道路の左側に寄せてエンジンキーを抜きとり、窓を閉め、ドアをロックしておくとよい。
    p NO
    p 左側に寄せて駐車し、エンジンを止め、エンジンキーはつけたまま「ドアはロックせず」、火炎が車内に入らないよう車の「窓を閉めて」非難します。
    p P.214

  details
    summary 自動車の前面ガラスに貼られた検査標章の数字は、次回の検査の時期を示すものである。
    p YES
    p 「４年１月１日」という風に書かれている。
    p P.273

  details
    summary 車両通行帯のない道路では、普通自動車は道路の左側部分の中央寄りを通行しなければならない。
    p NO
    p 自動車や原動機自転車は道路の左側に寄って通行する。キープレフトともいう。
    p P.57

  details
    summary
      img(src='追越し禁止.jpg', width=96)
      | 図の標識のあるところでは、普通自動車が原動機付き自転車を追い越すことも禁止されている。
    p YES
    p 原付を追い越すのも禁止。道路の右側部分にはみ出さなくても追い越し禁止。
    p P.121

  details
    summary オートマチック車で追い越しなどをするときは、アクセルペダルを強く踏み込むと、自動的にギアが切り替わり、急加速することができる。
    p YES
    p アクセルペダルを一気にいっぱいまで踏み込むと、急加速をします。これを「キックダウン」といい、追い越しや高速道路本線に侵入するときなどに使います。
    p P.89

  details
    summary 踏切内で故障した場合、発炎筒がなかったり、使い切ってしまったときは、煙の出やすい物を付近で燃やすなどして合図をする。
    p YES
    p P.74

  details
    summary 大型自動車・中型自動車・準中型自動車・普通自動車や大型特殊自動車の荷物を積む高さ制限は、地上から３．８メートルである。
    p YES
    p ３．８メートル以下である。
    p P.261

  details
    summary 高速道路では、自動車は路側帯を通行できないが、大型自動二輪車や普通自動二輪車は除かれる。
    p NO
    p 路側帯や路肩を通行してはいけない。ただし、故障時などで車を止めるときには入れる。
    p P.307, P.310

  details
    summary 車検とは、自動車検査、つまり自動車検査登録制度の略称である。
    p YES

  details
    summary 自家用の普通乗用自動車の自動車検査は、１年ごとに行なわなければならない。
    p NO
    p 自家用普通乗用自動車の車検の時期は、２年ごとです。ただし、新車登録時は３年です。
    p P.273

  details
    summary
      img(src='立入り禁止部分.jpg', width=96)
      | 図の表示は、「立入り禁止部分」を表している。
    p YES
    p 表示内に入ることはできない。また「安全地帯」ではない。
    p P.59

  details
    summary 本線車道とは、高速自動車国道の通常高速走行する部分で加速車線も含まれる。
    p NO
    p 本線車道とは、通常高速走行する部分であり、加速射線・減速車線・登坂車線・路側帯・路肩を除いた部分をいう。
    p P.305

  details
    summary 交差点以外の横断歩道、自転車横断帯、踏切もないところで警察官が交通整理をしているときの停止位置は、その警察官の５メートル手前である。
    p NO
    p １メートル手前で停止する。ただし、停止線がある場合 (交差点などで) は、その直前で停止する。
    p P.29

  details
    summary 火災報知機から１メートル以内の場所は、駐停車禁止である。
    p NO
    p 駐車禁止であり、停車は可能である。
    p P.249

  details
    summary タクシーを回送する目的で運転するときは、第一種普通免許で運転することができる。
    p YES
    p 回送（旅客運送を目的としない運転）するときは、第一種普通免許で運転することができます。
    p P.130

  details
    summary 路線バス等優先通行帯を通行中、通学通園バスが近づいてきたときは、進路をゆずらなくてもよい。
    p NO
    p 「 路線バス等」なので、通学通園バスが近づいてきた場合でも、すみやかに出ないといけない
    p P.116

  details
    summary 踏切とその前後３０メートル以内の場所は、追い越し禁止である。
    p NO
    p 踏切と「その前後」ではなく、その手前から３０メートル以内の場所が、追い越し禁止である。
    p P.120

  details
    summary
      img(src='自転車歩道.jpg', width=96)
      | 図の標示がある歩道は、普通自転車が通行できる歩道であることを示している。
    p YES
    p 「普通自転車の歩道通行部分」の表示である。普通自転車が歩道を通行できることと、通行しなければならない部分を示している。
    p P.48

  details
    summary 
    p 
